version: '3.8'

networks:
  ai_network:
    driver: bridge

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    environment:
      - N8N_BASIC_AUTH_ACTIVE=false
    depends_on:
      - ollama
    restart: unless-stopped
    networks:
      - ai_network

  ollama:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ollama
    volumes:
      - ollama:/root/.ollama
    ports:
      - "11434:11434"
    environment:
      - MODEL_NAME=deepseek-r1:1.5b
    networks:
      - ai_network

volumes:
  n8n_data:
  ollama: